{% extends 'base.html' %}

{% block content %}
      <br>
      <h3>Movie Details</h3>
      <hr>
      <span class="text-info">Title: </span> <span>{{ movie.title }}</span>
      <br>
      <span class="text-info">Genre: </span><span>{{ movie.genres }}</span>
      <br>
      {% if not reviews %}
            <hr>
            <h3>Be the first one to write a review.</h3>
      {% else %}
            <span class="text-info">Overall Rating: </span><span class="badge badge-primary badge-pill">{{ movie_rating }}</span>
            <br>
      {% endif %}
            <h3>Movie Recommend</h3>
    {% for r in r_list %}
      <hr>
      <span class="text-info">Title: </span> <span>{{ r.title }}</span>
      <br>
      <span class="text-info">Genre: </span><span>{{ r.genres }}</span>
      <br>
    {% endfor %}
{% endblock %}